<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Auto BIT</title>
		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		
		<!-- Common CSS -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/fonts/icomoon/icomoon.css" />
		<link rel="stylesheet" href="/static/css/main.css" />

		<link href="/static/css/toastr.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/css/my_css.css">

		<link rel="icon" type="image/x-icon" href="/static/img/logo_icon.ico"/>
		<!-- Other CSS includes plugins - Cleanedup unnecessary CSS -->
		<!-- Chartist css -->
		<link href="/static/vendor/chartist/css/chartist.min.css" rel="stylesheet" />
		<link href="/static/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />
		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/echarts.min.js"></script>
		<script src="/static/js/toastr.min.js"></script>
		<script> 
			$(function() {
				//$("#upload_progress").hide();
				var uploaded = 0;
				toastr.options = {  
						closeButton: true,  
						debug: true,  
						progressBar: true,  
						positionClass: "toast-bottom-center",  
						onclick: null,  
						showDuration: "3000",  
						hideDuration: "1000",  
						timeOut: "2000",  
						extendedTimeOut: "1000",  
						showEasing: "swing",  
						hideEasing: "linear",  
						showMethod: "fadeIn",  
						hideMethod: "fadeOut"  
				};
			});
			</script>

		<!--静态各层参数量分析-->
		<script>
			// 基于准备好的dom，初始化echarts实例
			$(function(){
			var myChart = echarts.init(document.getElementById('static_img0'), 'walden');
			myChart.showLoading();
			var echartsPie = echarts.init(document.getElementById('static_img1'), 'walden');
			echartsPie.showLoading();
			var ee = echarts.init(document.getElementById('static_img2'), 'walden');
			ee.showLoading();
			$.ajax({
					url: '/analyse/params/',
					type: 'POST',
					data: {},
					success: function(data) {
				myChart.hideLoading();
				echartsPie.hideLoading();
				ee.hideLoading();
				// 指定图表的配置项和数据
				var option = {
					title: {
						text: '各层参数量分析',
						x:'center',
						textStyle: {//主标题文本样式{"fontSize": 18,"fontWeight": "bolder","color": "#333"}
							fontFamily: 'Open Sans, sans-serif',
							fontSize: 24,
							color: 'black',
							fontStyle: 'normal',
							fontWeight: 'normal',
						}
					},
					brush: {
						toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
							xAxisIndex: 0
					},
					toolbox: {
					show : true,
					feature : {
						mark : {show: true},
						dataView : {show: true, readOnly: false,
						y:'50%'
						},
						magicType : {
							show: true, 
							type: ['pie', 'funnel'],
							option: {
								funnel: {
									x: '25%',
									width: '50%',
									funnelAlign: 'left',
									max: 1548
								}
							}
						},
						restore : {show: true},
						saveAsImage : {show: true}
						}
					},
					tooltip: {trigger: 'axis',
			axisPointer: {
				type: 'shadow'
			}},
					legend: {
						
						right: '5%',
						top: '5%',
						data:['参数量(Byte)'],
						icon: 'circle'
					},
					xAxis: {
						
					},
					yAxis: {data: data.getparm.category},
					series: [{
						name: '参数量(Byte)',
						type: 'bar',
						data: data.getparm.data
					}]
				};
				myChart.setOption(option);
				var c = [];
				for (const j of data.s_layers_num) {
					c.push(j.name);
				}
				option = {
				title : {
					text: '卷积层与全连接层层数占比',
					x:'center',
					textStyle: {//主标题文本样式{"fontSize": 18,"fontWeight": "bolder","color": "#333"}
		                		fontFamily: 'Open Sans, sans-serif',
		               		 	fontSize: 18,
							color: 'black',
		                		fontStyle: 'normal',
		                		fontWeight: 'normal'}
				},
				tooltip : {
					trigger: 'item',
					formatter: "{a} <br/>{b} : {c} 层"
				},
				legend: {
					orient : 'vertical',
					x : 'left',
					data: c,
					icon: 'circle'
				},
				
				toolbox: {
					show : true,
					feature : {
						mark : {show: true},
						dataView : {show: true, readOnly: false},
						magicType : {
							show: true, 
							type: ['pie', 'funnel'],
							option: {
								funnel: {
									x: '25%',
									width: '50%',
									funnelAlign: 'left',
									max: 1548
								}
							}
						},
						restore : {show: true},
						saveAsImage : {show: true}
						}
				},
				calculable : true,
				series : [
					{
						name:'层数',
						type:'pie',
						radius : '55%',//饼图的半径大小
						center: ['50%', '60%'],//饼图的位置
						data:data.s_layers_num
					}]
				};
				echartsPie.setOption(option);
				// 使用刚指定的配置项和数据显示图表。
				c = [];
				for (const j of data.s_layers_size) {
					c.push(j.name);
				}
				option = {
				title : {
					text: '卷积层与全连接层参数量占比',
					x:'center',
					textStyle: {//主标题文本样式{"fontSize": 18,"fontWeight": "bolder","color": "#333"}
						fontFamily: 'Open Sans, sans-serif',
						fontSize: 18,
						color: 'black',
						fontStyle: 'normal',
						fontWeight: 'normal'
					}
				},
				tooltip : {
					trigger: 'item',
					formatter: "{a} <br/>{b} : {c} Byte"
				},
				legend: {
					orient : 'vertical',
					x : 'left',
					data: c,
					icon: 'circle'
				},
				toolbox: {
					show : true,
					feature : {
						mark : {show: true},
						dataView : {show: true, readOnly: false},
						magicType : {
							show: true, 
							type: ['pie', 'funnel'],
							option: {
								funnel: {
									x: '25%',
									width: '50%',
									funnelAlign: 'left',
									max: 1548
								}
							}
						},
						restore : {show: true},
						saveAsImage : {show: true}
						}
				},
				calculable : true,
				series : [
					{
						name:'参数量',
						type:'pie',
						radius : '55%',//饼图的半径大小
						center: ['50%', '60%'],//饼图的位置
						data:data.s_layers_size
					}]
				};
				ee.setOption(option);
				},
				error: function() {
					toastr.error("未检测到模型");
					setTimeout(function() {
								window.location.replace("/");
							},2000);
				}
				});
			});
		</script>
		<!--卷积层与全连接层层数占比-->
		<!--卷积层与全连接层层数占比-->
		<!--各层运行时间-->
		<script>
			// 基于准备好的dom，初始化echarts实例
			
			$(function(){
			var running_img0 = echarts.init(document.getElementById('runnning_img0'), 'walden');
			running_img0.showLoading();
			$.ajax({
					url: '/analyse/run_time/',
					type: 'POST',
					data: {},
					success: function(data) {
						running_img0.hideLoading();
						// 指定图表的配置项和数据
						var option = {
							title: {
								text: '各层运行时间',
								x:'center',
								textStyle: {//主标题文本样式{"fontSize": 18,"fontWeight": "bolder","color": "#333"}
								fontFamily: 'Open Sans, sans-serif',
								fontSize: 24,
								color: 'black',
								fontStyle: 'normal',
								fontWeight: 'normal',
								}
							},
							brush: {
								toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
									xAxisIndex: 0
							},
							toolbox: {
							show : true,
							feature : {
								mark : {show: true},
								dataView : {show: true, readOnly: false,
								y:'50%'
								},
								magicType : {
									show: true, 
									type: ['pie', 'funnel'],
									option: {
										funnel: {
											x: '25%',
											width: '50%',
											funnelAlign: 'left',
											max: 1548
										}
									}
								},
								restore : {show: true},
								saveAsImage : {show: true}
								}
							},
							tooltip: {
								trigger: 'axis',
								axisPointer: {
									type: 'shadow'
								},
								formatter: '{a0} :{c0} ms<br>{a1} :{c1} ms<br>'
							},
							legend: {
								right: '15%',
								top: '5%',
								data:['全精度', '量化'],
								icon: 'circle'
							},
							xAxis: {
								data: data.category
							},
							yAxis: {},
							series: [{
								name: '全精度',
								type: 'line',
								data: [
					1352.92,
					1224.11,
					1212.45,
					1209.53,
					1071.62,
					1037.06,
					1001.64,
					986.307,
					927.934,
					380.449,
					380.324,
					379.728,
					331.193,
					266.686,
					243.343,
					242.824,
					236.776,
					103.359,
					71.806,
					49.924,
					29.252,
					21.435,
					13.176,
					9.245
				]
							},
							{
								name: '量化',
								type: 'line',
								data: [
					180.928,
					252.951,
					252.633,
					252.2,
					161.054,
					150.852,
					150.738,
					150.405,
					115.165,
					101.824,
					101.819,
					100.764,
					90.901,
					83.879,
					83.704,
					80.471,
					78.267,
					36.087,
					37.692,
					27.453,
					29.474,
					22.124,
					12.122,
					9.125
				]
							}
							]
						};
						// 使用刚指定的配置项和数据显示图表。
						running_img0.setOption(option);
						$("#analyse_board_2").hide();
					}});
			});
		</script>
	</head>
	<body>
		<!-- BEGIN .app-wrap -->
		<div class="app-wrap">
			<!-- BEGIN .app-heading -->
			<header class="app-header">
				<div class="container-fluid">
					<div class="row gutters">
						<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
							<a class="mini-nav-btn" href="#" id="app-side-mini-toggler">
								<i class="icon-menu5"></i>
							</a>
							<a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded="true">
								<i class="icon-chevron-thin-left"></i>
							</a>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-4">
							<a href="/guide/" class="logo">
								<img src="/static/img/logo.png" alt="Unify Admin www.dmaku.com" />
							</a>
						</div>
						<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
						
						</div>
					</div>
				</div>
			</header>
			<!-- END: .app-heading -->
			<!-- BEGIN .app-container -->
			<div class="app-container">
				<!-- BEGIN .app-side -->
				<aside class="app-side no_scroll">
					<!-- BEGIN .side-content -->
					<div class="side-content ">
						<!-- BEGIN .side-nav -->
						<nav class="side-nav">
							<!-- BEGIN: side-nav-content -->
							<ul class="unifyMenu side_bar_font">
								<li>
									<a href="/guide/">
										<span class="has-icon">
											<i class="icon-upload2"></i>
										</span>
										<span class="nav-title">上传模型</span>
									</a>
								</li>
								<li>
								</li>
								<li>
									<a href="/deploy/">
										<span class="has-icon">
											<i class="icon-laptop_windows"></i>
										</span>
										<span class="nav-title">硬件部署</span>
									</a>
									
								</li>
								<li  class="active selected">
									<a href="#anl_title">
										<span class="has-icon">
											<i class="icon-chart-area-outline"></i>
										</span>
										<span class="nav-title">模型分析</span>
									</a>
								</li>
								<li>
									<a href="https://gitee.com/BitTeam1024">
										<span class="has-icon">
											<i class="icon-tree"></i>
										</span>
										<span class="nav-title">Fork me</span>
									</a>
								</li>
										
							</ul>
							<!-- END: side-nav-content -->
						</nav>
						<!-- END: .side-nav -->
					</div>
					<!-- END: .side-content -->
				</aside>
				<!-- END: .app-side -->
				<!-- BEGIN .app-main -->
				<div class="app-main">
					<!-- BEGIN .main-heading -->
					<header class="main-heading" id = "anl_title">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
									<div class="page-icon">
										<i class="icon-chart-area-outline"></i>
									</div>
									<div class="page-title">
										<h5>查看方案的性能分析</h5>
										<h6 class="sub-heading">惊人的对比结果，无论整体还是各层优化</h6>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
									<div class="right-actions">
										<a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
											<i class="icon-download4"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</header>
					<!-- END: .main-heading -->
					<!-- BEGIN .main-content -->
					<div class="main-content" style="padding-top: 2.2vh;">
						<div class = "row_flex anl_3 style="justify-content:space-between;" id="anl_speed">
							<div class="info-stats4">
								<div class="icon-type pull-left" style="border-color: orangered;">
									<i class="icon-time-slot" style="color: orangered;"></i>
								</div>
								<div class="sale-num">
									<h4 style="color: orangered;">1418.9<font class="def_font">ms</font></h4>
									<p>全精度运行时间</p>
								</div>
							</div>
							<div class="info-stats4">
								<div class="icon-type pull-left" style="border-color: dodgerblue;">
									<i class="icon-flash" style="color: dodgerblue;"></i>
								</div>
								<div class="sale-num">
									<h4 style="color: dodgerblue;">253.6<font class="def_font">ms</font></h4>
									<p>量化运行时间</p>
								</div>
							</div>
							<div class="info-stats4">
								<div class="icon-type pull-left" style="border-color: lightgreen;">
									<i class="icon-rocket" style="color: lightgreen;"></i>
								</div>
								<div class="sale-num">
									<h4 style="color: lightgreen;font-weight: bold;">559<font class="def_font">%</font></h4>
									<p>加速比</p>
								</div>
							</div>

						</div>
						<div class = "row_flex anl_3 style="justify-content:space-between;" id="anl_speed">
							<div class="info-stats4">
								<div class="icon-type pull-left" style="border-color: orange;">
									<i class="icon-file-text2" style="color: orange;"></i>
								</div>
								<div class="sale-num">
									<h4 style="color: orange;">46.77<font class="def_font">Mb</font></h4>
									<p>全精度模型大小</p>
								</div>
							</div>
							<div class="info-stats4">
								<div class="icon-type pull-left">
									<i class="icon-leaf3"></i>
								</div>
								<div class="sale-num">
									<h4 style="color: #007ae1;">4.20<font class="def_font">Mb</font></h4>
									<p>量化模型大小</p>
								</div>
							</div>
							<div class="info-stats4">
								<div class="icon-type pull-left" style="border-color: limegreen;">
									<i class="icon-gauge" style="color: limegreen;"></i>
								</div>
								<div class="sale-num">
									<h4 style="color: limegreen;font-weight: bold;">1113<font class="def_font">%</font></h4>
									<p>压缩比</p>
								</div>
							</div>

						</div>
						<style>
							.def_font {
								font-size: 2.8vh;
								color: #aab3c3;
								font-weight: normal;
							}
							.anl_3 > .info-stats4 {
								margin: 1% 2.5% 1% 2.5%;
								width: 30%;
							}
							.anl_3 > .info-stats4:first-child {
								margin-left: 0;
							}
							.anl_3 > .info-stats4:last-child {
								margin-right: 0;
							}

						</style>
						<div class="card-header" id="analyse_toggle_title">
							<ul class="nav nav-tabs nav-justified" role="tablist" id="analyse_tab">
								<li class="nav-item">
								  <a class="nav-link active" data-toggle="tab" role="tab" ><h3>静态分析</h3></a>
								</li>
								<li class="nav-item">
								  <a class="nav-link" data-toggle="tab" role="tab" ><h3>运行分析</h3></a>
								</li>
							</ul>
						</div>
					<div>
					<div class="analyse_board" id="analyse_board_1">
						<div>
							<div class="card full_hei" id = "static_img0"></div>
						</div>
						<div>
							<div class="card" id="static_img1">
							</div>
							<div class="card" id="static_img2">
							</div>
						</div>
					</div>
					<div class="analyse_board no_show" id = "analyse_board_2">
						<div class="full_wid full_hei">
							<div class="card full_hei" id = "runnning_img0"></div>
							</div>
						</div>
					</div>
					<script>
						$(function () {
							$("#analyse_tab > li").click(function () {
								$("html,body").animate({ scrollTop: $(this).offset().top - 61}, 500);
								$(this).parent().parent().css("display", "block", 0);	
								$(".analyse_board").eq($(this).index()).show().siblings().hide();
							})
						});
					</script>
					</div>
				</div>
			</div>
		</div>
		
		<!-- jQuery first, then Tether, then other JS. -->
		<script src="/static/js/tether.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/vendor/unifyMenu/unifyMenu.js"></script>
		<script src="/static/vendor/onoffcanvas/onoffcanvas.js"></script>
		<script src="/static/js/moment.js"></script>

		<!-- Slimscroll JS -->
		<script src="/static/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="/static/vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Chartist JS -->
		<script src="/static/vendor/chartist/js/chartist.min.js"></script>
		<script src="/static/vendor/chartist/js/chartist-tooltip.js"></script>
		<script src="/static/vendor/chartist/js/custom/custom-line-chart.js"></script>
		<script src="/static/vendor/chartist/js/custom/custom-line-chart1.js"></script>
		<script src="/static/vendor/chartist/js/custom/custom-area-chart.js"></script>
		<script src="/static/vendor/chartist/js/custom/donut-chart2.js"></script>
		<script src="/static/vendor/chartist/js/custom/custom-line-chart4.js"></script>
		
		
		<!-- Common JS -->
		<script src="/static/js/common.js"></script>
		<script src="/static/js/walden.js"></script>
	</body>
</html>