<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Auto BIT</title>
		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		
		<!-- Common CSS -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/fonts/icomoon/icomoon.css" />
		<link rel="stylesheet" href="/static/css/main.css" />

		<!-- Other CSS includes plugins - Cleanedup unnecessary CSS -->
		<!-- Chartist css -->
		<link href="/static/css/toastr.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/css/my_css.css">

		
		<link rel="icon" type="image/x-icon" href="/static/img/logo_icon.ico"/>
		<!-- Other CSS includes plugins - Cleanedup unnecessary CSS -->
		<!-- Chartist css -->
		<link href="/static/vendor/chartist/css/chartist.min.css" rel="stylesheet" />
		<link href="/static/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />
		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/echarts.min.js"></script>
		<script src="/static/js/toastr.min.js"></script>
		<script>var editor</script>
		<script>
			$(function() {
				$("#lanuch_deploy").click(function() {
					var x = $("#my_plats .my_sel");
					var sd = {
						platform: null,
						if_quantization: 1,
						if_tune: 1,
						if_rpc: 1
					};
					
					
					if (x.length == 0) {
						toastr.error("未选中平台");
						return;
					}
					sd.platform = x[0].innerText;
					if ($("#if_quantization").text() == "量化：关闭") {
						sd.if_quantization = 0;
					}
					if ($("#if_tune").text() == "Tune：关闭") {
						sd.if_tune = 0;
					}
					if ($("#if_rpc").text() == "rpc：关闭") {
						sd.if_rpc = 0;
					}
					console.log(sd);
					var title_change = setInterval(function() {
						var s = document.getElementById('deploy_title').innerText;
						console.log(s);
						
						if (s == '正在部署中 .') {
							$("#deploy_title").text('正在部署中 . .');
						}
						
						else if (s == '正在部署中 . .') {
							$("#deploy_title").text('正在部署中 . . .');
						}

						else {
							$("#deploy_title").text('正在部署中 .');
						}
					},
					300);
					$("html,body").animate({ scrollTop: $("#deploy_title").offset().top - 100}, 500);
				$.post(
					'/deploy/lanuch_deploy/',
					sd,
					function(data) {
						var cnt = 0;
						var aquery = setInterval(function() {
							$.get(
								'/deploy/print_log/',
								function(data) {
									if (data == '$EOF$') {
										clearInterval(title_change);
										clearInterval(aquery);
										$("#deploy_title").text("部署已完成");
										$("#download_after").show();
										$("html,body").animate({ scrollTop: $("#download_after").offset().top}, 500);
										return;
									}
									if (data != '') {
									editor.setValue(editor.getValue() + data + '\n');
									cnt++;
									}
								}
							);
						}
						, 400);
					}
				);
				});
			});
		</script>
		<script>
			$(function() {
				$.ajax({
						url: '/deploy/get_basic_info/',
						type: 'POST',
						data: {},
						success: function(data) {
							console.log(data);
							var str = data.name;
							var ss;
							if (new RegExp(/\\/).test(str)) {
								ss = str.split("\\");
							}
							
							else {
								ss = str.split("/");
							}
							$("#basic_info_name").text(ss[ss.length - 1]);
							$("#basic_info_size").text(data.size.toFixed(2));
							$("#basic_info_layer").text(data.layer_num);
							$("#basic_info_din").text(data.din);
							$("#basic_info_dout").text(data.dout);
						},
						error: function(data) {
							toastr.error("未检测到模型");
							setTimeout(function() {
								window.location.replace("/");
							},2000);
						}
						});
			});
		</script>
		<script>			
			toastr.options = {  
					closeButton: true,  
					debug: true,  
					progressBar: true,  
					positionClass: "toast-bottom-center",  
					onclick: null,  
					showDuration: "3000",  
					hideDuration: "1000",  
					timeOut: "2000",  
					extendedTimeOut: "1000",  
					showEasing: "swing",  
					hideEasing: "linear",  
					showMethod: "fadeIn",  
					hideMethod: "fadeOut"  
    		};
		</script>
		<script>
			$(function() {
				$("#my_plats > .btn").click(
					function() {
						$(this).css("box-shadow", "none", 0).addClass("my_sel").siblings().removeClass("my_sel");
						toastr.success("平台设置为 " + $(this).text());
					}
				);
			});
		</script>
		<script>
			$(function() {
				var tog = ['开启', '关闭']
				$("#my_options>.btn").click(function(){
					//alert("oh");
					var str = $(this).text();
					//console.log(str);
					var pat = '/' + tog[0] + '$/'
					var p = Number(new RegExp(/开启$/).test(str));
					$(this).text(str.replace(tog[1 - p], tog[p]));
				});
			});
		</script>
		<script>
		$(function() {
			var e = echarts.init(document.getElementById('bit_sel_img'), 'walden');
			var option = {
					xAxis: {
						data: ['conv0', 'conv1', 'conv2', 'conv3', 'conv4']
					},
					yAxis: {
						interval:2,
                min:0,
                max:32,
                axisLabel:{
                    formatter: function(value) {
						if ((value & (value - 1)) != 0 && value != 0 || value == 2) {
							return '';
						}
						return value;
					}
                }
				},
				series: [{
					name: '',
					type: 'bar',
					data: [8, 4, 16, 16, 8]
				}]
				};
				e.setOption(option);

		});

		</script>
	</head>
	<body>
		<!-- BEGIN .app-wrap -->
		<div class="app-wrap">
			<!-- BEGIN .app-heading -->
			<header class="app-header">
				<div class="container-fluid">
					<div class="row gutters">
						<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
							<a class="mini-nav-btn" href="#" id="app-side-mini-toggler">
								<i class="icon-menu5"></i>
							</a>
							<a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded="true">
								<i class="icon-chevron-thin-left"></i>
							</a>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-4">
							<a href="/guide/" class="logo">
								<img src="/static/img/logo.png" alt="Unify Admin www.dmaku.com" />
							</a>
						</div>
						<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
						
						</div>
					</div>
				</div>
			</header>
			<!-- END: .app-heading -->
			<!-- BEGIN .app-container -->
			<div class="app-container">
				<!-- BEGIN .app-side -->
				<aside class="app-side no_scroll">
					<!-- BEGIN .side-content -->
					<div class="side-content ">
						<nav class="side-nav">
							<!-- BEGIN: side-nav-content -->
							<ul class="unifyMenu side_bar_font" id="unifyMenu">
								<li >
									<a href="/guide/">
										<span class="has-icon">
											<i class="icon-upload2"></i>
										</span>
										<span class="nav-title">上传模型</span>
									</a>
								</li>
								<li>
								</li>
								<li class="active selected">
									<a href="/deploy/">
										<span class="has-icon">
											<i class="icon-laptop_windows"></i>
										</span>
										<span class="nav-title">硬件部署</span>
									</a>
									
								</li>
								<li>
									<a href="/analyse/">
										<span class="has-icon">
											<i class="icon-chart-area-outline"></i>
										</span>
										<span class="nav-title">模型分析</span>
									</a>
								</li>
									
								<li>
									<a href="https://gitee.com/BitTeam1024">
										<span class="has-icon">
											<i class="icon-tree"></i>
										</span>
										<span class="nav-title">Fork me</span>
									</a>
								</li>	
							</ul>
							<!-- END: side-nav-content -->
						</nav>
					</div>
					<!-- END: .side-content -->
				</aside>
				<!-- END: .app-side -->
				<!-- BEGIN .app-main -->
				<div class="app-main">
					<!-- BEGIN .main-heading -->
					<header class="main-heading">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
									<div class="page-icon">
										<i class="icon-laptop_windows"></i>
									</div>
									<div class="page-title">
										<h5>欢迎来到部署界面</h5>
										<h6 class="sub-heading">选择您的平台，自定义或使用推荐配置</h6>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
									<div class="right-actions">
										<a href="#" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="left" title="Download Reports">
											<i class="icon-download4"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</header>
					<!-- END: .main-heading -->
					<!-- BEGIN .main-content -->
					<div class="main-content col_flex">
						<div class="row_flex" id = "deploy_option_aera">
							<div class="card">
							<div class="card-header"><h3 class="card_head_font">平台选择</h3></div>
							<div class="card-body">
								<h3 class="basic_info_font">您的模型：
								<a>
									<font id = "basic_info_name"></font>
								</a>
							</h3>
							<div class="card top-blue-bdr" id = "basic_info_area">
								<div class="card-body no_pad_bottom">
									<p class="card-text no_mar_bottom">
									大小：<font id = "basic_info_size"></font>MB<br>
									总层数：<font id = "basic_info_layer"></font><br>
									输入：<font id = "basic_info_din"></font><br>
									输出：<font id = "basic_info_dout"></font>
									</p>
								</div>
							</div>
							<h3 class="basic_info_font">选择您的硬件平台:</h3>
							<div class="col_flex" style="margin-top: 2%;">
								<div class="row_flex row_btns" id = "my_plats">
									<button type="button" class="btn btn-secondary btn-rounded">Pi 4B</button>
									<button type="button" class="btn btn-success btn-rounded">FPGA</button>
									<button type="button" class="btn btn-warning btn-rounded">Nivida GPU</button>
								</div>
								<div class="row_flex row_btns" style="margin-top: 0.7vh;display: none;" id = "my_options">
									<button type="button" class="btn btn-primary btn-rounded" id = "if_quantization">量化：开启</button>
									<button type="button" class="btn btn-primary btn-rounded" id = "if_tune">Tune：开启</button>
									<button type="button" class="btn btn-primary btn-rounded" id = "if_rpc">rpc：开启</button>
								</div>
							</div>
							</div>
								
							</div>
							<div class="card">
							<div class="card-header"><h3 class="card_head_font">推荐比特数</h3></div>
								<div class="card-body col_flex">
									<div id="bit_sel_img"></div>
									<h3 class="basic_info_font" style="margin-left: 2%;margin-top: 5%;">
										自定义：
									</h3>
									<div>
										<font style="font: bold;font-size: 2vh;margin-right: 2vh;color: #777777;margin-left: 2vh;">conv0</font>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv0" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">1</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv0" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">4</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv0" type="radio" class="custom-control-input"  checked="checked">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">8</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv0" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">16</span>
										</label>
									</div>
									<div>
										<font style="font: bold;font-size: 2vh;margin-right: 2vh;color: #777777;margin-left: 2vh;">conv1</font>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv1" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">1</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv1" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">4</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv1" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">8</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv1" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">16</span>
										</label>
									</div>
									<div>
										<font style="font: bold;font-size: 2vh;margin-right: 2vh;margin-left: 2vh; color: #777777">conv2</font>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv2" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">1</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv2" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">4</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv2" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">8</span>
										</label>
										<label class="custom-control custom-radio">
											<input id="radio1" name="conv2" type="radio" class="custom-control-input" checked="">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">16</span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card full_wid" style="margin-top: 3vh;">
							<div class="card-header"><h3 class="card_head_font" id = "deploy_title">自动部署</h3></div>
							<div class="card-body">
								<button type="button" class="btn btn-primary btn-lg btn-block row_center" id = "lanuch_deploy">点击以开始部署</button>
								<div id="my_code"></div>
								<script>
									$(function() {
										ace.require("ace/ext/language_tools");
										editor = ace.edit("my_code");
										editor.getSession().setUseWrapMode(true);//设置代码折叠
										editor.setTheme("ace/theme/monokai");//设置主题
										editor.getSession().setMode("ace/mode/powershell");//设置语言
										document.getElementById('my_code').style.fontSize='16px';//设置字体
										editor.resize();//编辑器自适应
										editor.setShowPrintMargin(false);//显示打印边线
										editor.setReadOnly(true);
										editor.getSession().selection.on('changeSelection', function(e) {
											editor.clearSelection();
											editor.scrollPageDown();
										});
										editor.setOptions({
											enableBasicAutocompletion: true,
											enableSnippets: true,
											enableLiveAutocompletion: true//启用自动补全
										})
									});
								</script>
								<script src="https://cdn.bootcss.com/ace/1.4.9/ace.js"></script>
							</div>
						</div>
						<div class="card text-white bg-info row_center" id = "download_after">
							<div class="card-header txt_center">点击下方按钮进行下载</div>
							<div class="card-body txt_center">
								<a href="/deploy/get_target_file/" class="btn btn-light row_center">
								<i class="icon-download2"></i>&nbsp &nbsp &nbsp文件</a>
							</div>
						</div>
					<!-- END: .main-content -->
					</div>
				<!-- END: .app-main -->
				</div>
			<!-- END: .app-container -->
			</div>
		</div>
		<!-- END: .app-wrap -->

		<!-- jQuery first, then Tether, then other JS. -->
		<script src="/static/js/tether.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/vendor/unifyMenu/unifyMenu.js"></script>
		<script src="/static/vendor/onoffcanvas/onoffcanvas.js"></script>
		<script src="/static/js/moment.js"></script>

		<!-- Slimscroll JS -->
		<script src="/static/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="/static/vendor/slimscroll/custom-scrollbar.js"></script>
		
		<!-- Common JS -->
		<script src="/static/js/common.js"></script>
		<script src="/static/js/walden.js"></script>
		<script>
			var c = echarts.init(document.getElementById('deploy_progress'), 'light');
			var option = {
			tooltip: {
				formatter: '{a} <br/>{b} : {c}%'
			},
			series: [
				{
					name: '当前进度',
					type: 'gauge',
					detail: {formatter: '{value}%'},
					data: [{value: 50, name: '完成率'}]
				}
			]
			};
			c.setOption(option);
			setInterval(function () {
				option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
				c.setOption(option, true);
			},2000);
		</script>
	</body>
</html>